{% extends "login_system/base.html" %}
{% block content %}
    <h1>About Login System.</h1>
    <p>Aplikacja stworzona w python django</p>
    <p>Funkcjonalności:</p>
    <li>Logowanie</li>
    <li>Małe odnośniki "Masz już konto? Zaloguj się!"</li>
    <li>Tworzenie konta / nowego użytkownika</li>
    <li>Hasła użytkowników są haszowane w bazie danych, hashcodem django</li>
    <li>Wylogowanie się ze strony</li>
    <li>Małe odnośniki "Zaloguj się ponownie!"</li>
    <li>Tworzenie postów (taki jak ten) z poziomu konta Administratora: Logowanie do konta admina: /admin  L: RGieb H: test123</li>
    <li>Edycja postów z poziomu administratora</li>
    <li>Wskazywanie dokładnej daty utworzony postów</li>
    <li>Wskazanie autora posta</li>
    <p>Aplikacja jest połączona z bazą danych</p>
{% endblock content %}
